/*medias queries para el logo*/
@media(max-width:600px){
	#logo1{
		height:auto;
		width: 100%;
		margin-top:200px;
		position: relative;
	}
	.fa-user-circle-o{
	}
};

@media(min-width:600px){
	#logo1{
		height:auto;
		width:50%;
	}
};
